# voice_v2
#
# This file was automatically generated by APIMATIC v2.0
# ( https://apimatic.io ).

module Bandwidth
	module VoiceV2
	  # CallsController
	  class CallsController < BaseController
	    def initialize(config, http_call_back: nil)
	      super(config, http_call_back: http_call_back)
	    end

	    # Creates a call request
	    # @param [String] account_id Required parameter: Example:
	    # @param [ApiCreateCallRequest] body Optional parameter: Example:
	    # @return [ApiCallResponse] response from the API call
	    def create_call(account_id,
	                    body: nil)
	      # Prepare query url.
	      _query_builder = config.get_base_uri
	      _query_builder << '/accounts/{accountId}/calls'
	      _query_builder = APIHelper.append_url_with_template_parameters(
	        _query_builder,
	        'accountId' => account_id
	      )
	      _query_url = APIHelper.clean_url _query_builder

	      # Prepare headers.
	      _headers = {
	        'accept' => 'application/json',
	        'content-type' => 'application/json; charset=utf-8'
	      }

	      # Prepare and execute HttpRequest.
	      _request = config.http_client.post(
	        _query_url,
	        headers: _headers,
	        parameters: body.to_json
	      )
	      VoiceV2BasicAuth.apply(config, _request)
	      _response = execute_request(_request)
	      validate_response(_response)

	      # Return appropriate response type.
	      decoded = APIHelper.json_deserialize(_response.raw_body)
	      ApiCallResponse.from_hash(decoded)
	    end

	    # Creates a call request
	    # @param [String] account_id Required parameter: Example:
	    # @param [String] call_id Required parameter: Example:
	    # @param [ApiModifyCallRequest] body Optional parameter: Example:
	    # @return [void] response from the API call
	    def modify_call(account_id,
	                    call_id,
	                    body: nil)
	      # Prepare query url.
	      _query_builder = config.get_base_uri
	      _query_builder << '/accounts/{accountId}/calls/{callId}'
	      _query_builder = APIHelper.append_url_with_template_parameters(
	        _query_builder,
	        'accountId' => account_id,
	        'callId' => call_id
	      )
	      _query_url = APIHelper.clean_url _query_builder

	      # Prepare headers.
	      _headers = {
	        'content-type' => 'application/json; charset=utf-8'
	      }

	      # Prepare and execute HttpRequest.
	      _request = config.http_client.post(
	        _query_url,
	        headers: _headers,
	        parameters: body.to_json
	      )
	      VoiceV2BasicAuth.apply(config, _request)
	      _response = execute_request(_request)
	      validate_response(_response)
	    end
	  end
	end
end

